<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
   
      地域:
      <%= @user.region %>
      <br>
      プロフィール:
      <%= @user.profile %>
      <br>
      <%= link_to "edit" , edit_user_path(@user) %>

  </div>
</div>
 

    
  
    
  
  


  
  
